*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

body{
    background-color: rgb(119, 117, 114);
}

main{
    background-color: rgb(63, 63, 117);
}

li a {
    text-decoration: none;
}